/* This is Smockstack with some modifications by Ptujec … last changed 2011-04-01 */

@font-face {
  font-family: "DIN-Medium";
  src: url(pie/icing.ttf) format("truetype");
  /* Now don't you eat this pie. */
}
body {
	padding:3px 3px 3px 3px; 
	margin:0;
	font-family: "Helvetica";
	position: relative;
	text-align: right;
	width: 308px;
	word-wrap: break-word;
/*
	-webkit-font-smoothing: antialiased;
*/
}
#verylow, #moderate, #normal, #high, #emergency {
	width: 178px;
	text-align: left;
	/* I'm so glad Safari 3 has these crazy new CSS properies. */
	/* What a time saver! */
	border-width: 65px 40px 27px 28px;
	-webkit-border-image: url(images/bg.png) 65 40 27 28;
	/* added by @ptujec 2011-04-01 … taken from Mono by Christopher Lobay */
}

#verylow, #moderate, #normal {
	-webkit-animation-duration: 0.6s; 
	-webkit-animation-name: 'textIn'; 
}

#high {
	-webkit-animation-duration: 0.6s; 
	-webkit-animation-name: 'textInHigh'; 
}

#emergency {
	-webkit-animation-duration: 1.2s; 
	-webkit-animation-name: 'textInEmerg'; 
}

#icon {
	position: absolute;
	top: 17px; right: 0;
	z-index: 30;
	width: 80px;
	height: 86px;
	text-align:  center;
	background: url(images/makeshift-shadow.png) no-repeat center -5px;
/*
	-webkit-animation-duration: 0.4s; 
	-webkit-animation-name: 'IconIn'; 
*/

}

#icon img {
	/* Some poorly written scripts only specify a 32x32 icon to Growl. */
	/* As a result, the icon gets blurry. If you're using many apps that do this, */
	/* keep icons native size by adding "max-" to both height and width, below: */
	width: 50px;
	height: 50px;
	-webkit-border-radius:3px; /* all corners */
}
#title-verylow, #title-moderate, #title-normal, #title-high, #title-emergency {
	font: bold 10.5pt "Helvetica-Bold";
	line-height: 11pt;
	margin-top: -44px;
}



#title-verylow {
	
	color: rgba(255, 255, 255, 0.6);
	
	text-shadow: 0px 2px 3px rgba(0, 0, 0, 0.75);  
	/* (red, green, blue, transparency) */
}

#title-moderate {
	
	color: rgba(255, 255, 255, 0.8);
	
	text-shadow: 0px 2px 3px rgba(0, 0, 0, 0.75);  
	/* (red, green, blue, transparency) */
}

#title-normal {
	
	color: rgba(255, 255, 255, 0.8);
	
	text-shadow: 0px 2px 3px rgba(0, 0, 0, 0.75);  
	/* (red, green, blue, transparency) */
}



#title-high {
    
	color: rgba(151, 213, 253, 0.8);
    
	text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.8);  
	/* (red, green, blue, transparency) */

}


#title-emergency {
    
	color: rgba(255, 59, 57, 0.8);
    
	text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.8);  
	/* (red, green, blue, transparency) */

}


#text-verylow, #text-moderate, #text-normal, #text-high, #text-emergency {
	font: normal 9pt /*"DIN-Medium", "DINMedium", "DIN Medium", "DINPro-Medium", */"Helvetica";
	line-height: 10pt;
	/* opacity: 0.6; /* This opacity will disable sub-pixel antialiasing */
					 /* for this div. Do not use. */
	margin-top: 8px;
	padding-bottom: 5px;
}

#text-verylow {
	color: rgba(255, 255, 255, 0.6);
}

#text-moderate {
	color: rgba(255, 255, 255, 0.8); 
}

#text-normal {
	color: rgba(151, 213, 253, 0.7); 
}

#text-high {
	color: rgba(255, 255, 255, 0.8);
}

#text-emergency {
	color: rgba(255, 255, 255, 0.8);
}

/* added by @ptujec 2011-04-01 … taken from Mono by Christopher Lobay */

@-webkit-keyframes 'textIn' { 
0% { -webkit-transform: translateX(40px); } 
100% { -webkit-transform: translateX(0px); } 
}

@-webkit-keyframes 'textInHigh' { 
0% { -webkit-transform: translateX(60px); }
50% { -webkit-transform: translateX(-20px); }
100% { -webkit-transform: translateX(0px); } 
}

@-webkit-keyframes 'textInEmerg' { 
0% { -webkit-transform: translateX(60px); }
25% { -webkit-transform: translateX(-20px); }
50% { -webkit-transform: translateX(0px); } 
75% {}
80% { -webkit-transform: translateX(5px); } 
90% { -webkit-transform: translate(-10px); } 
100% { } 
}

@-webkit-keyframes 'IconIn' {
0% { opacity: 0; }
100% { opacity: 1; }
}